@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background-image: url(./img/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-2 {
    background-image: url(./img/startup\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-7 {
    background-image: url(./img/Rectangle\ 1992.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-9 {
    background-image: url(./img/Group\ 815.png);
    background-repeat: no-repeat;
    background-size: cover;
}