@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background-image: url(./img/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-2 {
    background-image: url(./img/startup\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
}